#### Tuple

Ordered collection of items that are immutable, they're similar to lists but their immutability makes them different.

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
mylst = list()
print(type(mylst))
mytuple = tuple()
print(type(mytuple))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,2,2,10,3,4,5,6,7,8,9,10])
numbers #list converted into tuple above, opposite also true

(1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(list((1,2,3,4,5,6,7))) #tuple converted into list

[1, 2, 3, 4, 5, 6, 7]

In [5]:
print(numbers)

(1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
print(numbers[2])
print(numbers[-1])
print(numbers[::-1])
print(numbers[0:5])
print(numbers[::2])

2
10
(10, 9, 8, 7, 6, 5, 4, 3, 10, 2, 2, 2, 1)
(1, 2, 2, 2, 10)
(1, 2, 10, 4, 6, 8, 10)

In [7]:
#Tuple Operations
newtuple = ('hello','world',264)
concatination =  numbers + newtuple
print(concatination)

(1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'world', 264)

In [8]:
print(newtuple * 2)
print(numbers * 3)

('hello', 'world', 264, 'hello', 'world', 264)
(1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 2, 2, 10, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
#Immutable Nature of Tuple [list are mutable/changable, but same not goes for 'tuple']
lst = [1,2,3,4,5,6]
print(lst)
lst[1] = 'baba_yaga'
print(lst)
#let's do it for tuple
tple = (10,20,30,40,50,60)
print(tple)
#tple[1] = 'baba_yaga' #can't reassign or change because it's immutable
print(tple)

[1, 2, 3, 4, 5, 6]
[1, 'baba_yaga', 3, 4, 5, 6]
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60)

In [10]:
# Tuple Methods
#1. Count
print(f"in this tuple number '2' is occured: {numbers.count(2)} Times.")
print(f"in this tuple number '3' is occured: {numbers.count(3)} Times.")
print(f"in this tuple number '10' is occured: {numbers.count(10)} Times.")

in this tuple number '2' is occured: 3 Times.
in this tuple number '3' is occured: 1 Times.
in this tuple number '10' is occured: 2 Times.